@import "tailwindcss";



@layer base{
    @font-face {
        font-family: 'iran';
        src: url("../font/iran.ttf") format('truetype');
    }
    .font-iran{
        font-family: 'iran', sans-serif;
    }
}

@theme {
    --color-golde: rgb(124, 111, 85) ;
    --color-goold: rgb(100, 89, 68);
}


@layer components{
    .row{
        @apply flex flex-wrap !important;
    }
    .center{
        @apply justify-center items-center ;
    }
    .btn{
        @apply  text-white w-32 rounded-lg bg-golde!important;
    }
    .after1{
        @apply after:content-[''] after:flex after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-[#24242449] ;
    }
}