@import "tailwindcss";



@layer base{
    @font-face {
        font-family: "Yekan Bakh";
        src: url("../font/YekanBakh4 Pro/FarsiNum/webfonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Bakh";
        src: url("../font/YekanBakh4 Pro/FarsiNum/webfonts/woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Yekan Bakh";
        src: url("../font/YekanBakh4 Pro/FarsiNum/webfonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}

@theme {
    --font-yekan: "Yekan Bakh", sans-serif;
    --color-golde: rgb(124, 111, 85) ;
    --color-goold: rgb(100, 89, 68);
}


@layer components{
    .row{
        @apply flex flex-wrap;
    }
    .center{
        @apply justify-center items-center ;
    }
    .btn{
        @apply text-white rounded-md bg-golde text-sm;
    }
    .after1{
        @apply after:content-[''] after:flex after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-[#24242449] ;
    }
}