
.icon-phone:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-location-1:before { content: '\e802'; } /* '' */
.icon-gift:before { content: '\e803'; } /* '' */
.icon-coffee:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\e805'; } /* '' */
.icon-phone-outline:before { content: '\e806'; } /* '' */
.icon-phone-1:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-star-filled:before { content: '\e80a'; } /* '' */
.icon-star:before { content: '\e80b'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */
.icon-instagram-2:before { content: '\f32d'; } /* '' */
